spring:
  profiles:
    include: secret
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:test
    username: sa
    password:
#  data:
#    redis:
#      host: localhost
#      port: 6379

h2:
  console:
    enabled: true
    path: /h2-console

